
/* External style sheet */
body     { font-family: arial, helvetica, sans-serif; 
        background-color:yellowgreen}
h1 { color: palegreen; text-align: center; text-shadow: -4px 4px 6px dimgray;}
h2 { text-align: center;}
p { color:white; font-size: 14pt}
a.nodec  { text-decoration: none; }
a:hover  { text-decoration: underline; }
li em    { font-weight: bold; }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  .active {
    background-color: #04AA6D;
  }

#round2 {
    border: 3px solid navy;
    padding: 5px 200px;
    background: lightcyan;
    width: 900px;
    text-align: center;
    border-radius: 50px;
    background-color: plumcyan;
    box-shadow: 25px 25px 50px dimgray;
}
#horizontal {
    width: max-content;
    height: 100px;
    border: 3px solid orange;
    padding: 5px 400px;
    text-align: center;
    background: -webkit-gradient(
        linear, left top, right top,
        color-stop(15%, white), color-stop(50%, yellow),
        color-stop(75%, orange) );
    background: -moz-linear-gradient(
        left, white 15%, yellow 50%, orange 75% );
    background: linearGradient (
        90deg, white 15%, yellow 50%, orange 75% );
}
img {
    margin: 20px 300px;
    -webkit-transition: -webkit-transform 4s;
    -moz-transition: -moz-transform 4s;
    -o-transition: -o-transform 4s;
    transition: transform 4s;
}
img:hover {
    -webkit-transform: rotate(360deg) scale(2,2);
    -moz-transform: rotate(360deg) scale(2,2);
    -o-transform: rotate(360deg) scale(2,2);
    transform: rotate(360deg) scale(2,2);
}


